<script>
  var externalLinkIcon = {{ (resources.Get "icons/box-arrow-up-right.svg").Content | safeHTML | replaceRE "\n\\s*" "" }};

</script>{{ $jquery := resources.Get "js/jquery.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.js" }}
{{ $app := resources.Get "js/app.js" }}
{{ $main := slice $jquery $bootstrap $app | resources.Concat "main.js" }}
{{ with (getenv "PRODUCTION") }}
  {{ $main = $main | minify | fingerprint }}
{{ end }}
<script src="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}"></script>
