{{ define "main" }}
<main class="main home">
  <div class="container-fluid">
    <header class="mb-4 d-xl-none">
      <h1 class="text-center" style="font-variant: small-caps;">Conseil en Organisation et Systèmes d'Information</h1>
      <h5 class="text-center text-muted">pour les organisations progressistes</h5><br>
    <hr class="w-50"><br>
    </header>
    {{ .Content }}
    <div class="card-deck">
      <div class="card card-prog">
        <div class="card-body">
          <h3 class="card-title">{{ (resources.Get "icons/graph-up.svg").Content | safeHTML }} Progressisme</h3>
          <p>Les organisations progressistes œuvrent au progrès social <strong>en accordant la priorité éthique à l'allègement de la souffrance</strong>.</p>
          <p>Elles ont de grandes ambitions mais de faibles ressources, comptant parfois exclusivement sur le bénévolat.</p>
        </div>
      </div>
      <div class="card card-enjeu">
        <div class="card-body">
          <h3 class="card-title">{{ (resources.Get "icons/trophy-fill.svg").Content | safeHTML }} Enjeu</h3>
          <p>Il est critique pour les organisations progressistes de rentabiliser au maximum leurs ressources : <strong>le succès de leur mission est fortement conditionné à leur organisation</strong>.</p>
          <p>Elles gaspillent trop souvent leurs ressources (temps, compétences, argent) dans leur propre fonctionnement, générant au passage des effets contre-productifs.</p>
        </div>
      </div>
      <div class="card card-offre">
        <div class="card-body">
          <h3 class="card-title">{{ (resources.Get "icons/star-fill.svg").Content | safeHTML }} L'offre</h3>
          <p>Metta Conseil met son savoir-faire à disposition des organisations progressistes pour les aider à <strong>s'organiser efficacement et à moindre cout</strong>.</p>
          <p>L'organisation proposée est adaptative et simple à mettre en place et à faire fonctionner. Elle est gratuite pour peu que quelques bénévoles soient volontaires pour s'en occuper.</p>
        </div>
      </div>
    </div>
  </div>
</main>
  {{ partial "top-btn" . }}
{{ end }}
