<div class="card text-center">
  {{ with .Get "logo" }}
  {{ $logo := print "/img/clients/" .  }}
    <img src="{{ (resources.Get $logo ).RelPermalink }}" class="card-img-top img-fluid rounded mx-auto" alt="logo {{ strings.TrimRight ".png" (strings.TrimRight ".jpg" . )}}" style="width: 50%; padding-top: 20px;">
  {{ end }}
  <div class="card-body">
    <h3 class="card-title">{{ .Get "nom" }}</h3>
    <p class="card-text">{{ .Get "description" | markdownify }}</p>
  </div>
  <div class="card-footer">
    <a href="{{ .Get "lien" }}" class="btn btn-info">Site</a>
  </div>
</div>
